@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	 box-sizing: border-box;

    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body { 
	margin: 0;
	padding: 0;
}

.img-flex {
	display: block;
	width: 100%;
}

.masthead {
	text-align: center;
	background-color:#6DABE4;
	
}

.nav {
	margin: 0;
	padding: 0;
	list-style-type: none;
}


.nav a {
	display: block;
	text-decoration: none;
}

.footer {
	text-align: center;
}

.portfolio {
	background-color: #8A8989;
	
}

.intro {
	background-color:#6DABE4; 
	text-align: center;
}

.about {
	background-color:#6DABE4; 
}


.logo {
	width: 30%;
}

.portrait {
	width: 30%;
}

@media only screen and (min-width: 25em) {

	.nav li { 
		display: inline-block;
	}
	
	.portfolio {
	background-color: #8A8989;
	
}

}

@media only screen and (min-width: 38em) {
	
	.masthead {
		text-align: left;
	
}

	.portfolio {
	background-color: #8A8989;
	
}

	.nav { 
		text-align: right;
}
	
	.footer {
		text-align: left;
	
}

	.nav-footer {
		text-align: right;

}



@media only screen and (min-width: 60em) {

}

/*grid small, medium large screens */


	.grid {
	overflow: hidden;
}

	.portfolio {
	background-color: #8A8989;
	width: 100%;
	
}

	.footer {
	float: bottom;
	
}

.unit-left{
	padding-left: 8%;
	padding-right:2%;
}

.unit-right{
	padding-left: 2%;
	padding-right:8%;
}