@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	 box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body { 
	margin: 0;
	padding: 0;
	background-color: #89AEC7
}

.img-flex {
	display: block;
	width: 100%;
}

ul {
	list-style-type: none;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0px;	
}


.masthead {
	position:fixed;
	text-transform: uppercase;
	width:100%;
	z-index: 99999;
	padding:20px;
	background-color:#000000;
	opacity: 0.3;
	text-align:center;
}

.masthead a {
	text-decoration:none;
	color:#ffffff;
	text-align:center;
}

.masthead h1 {
	margin:0;	
}

.masthead ul {
	list-style-type:none;
	margin:0;
	padding:0;
	text-align:center;
}

.nav-top-container {
	position:absolute;
	right:0;
	top:7px;
}

.nav-top li {
	display:inline-block;
	text-align:center;	
}

.name-container {
	position:relative;	
	text-align:center;
}



.footer {
	text-align: center;
	opacity: 0.8;
	text-transform: uppercase;
	width:100%;
	z-index: 99999;
	padding:20px;

}

.portfolio {
	text-align: center;
	padding-top: 20%;
	padding-bottom: 10%;
	background-color: #E8A263;
	
}

.intro {
	background: url(../img/intro-background.png) no-repeat center top; 
	background-size: cover;
	background-attachment: fixed;
	color: #FFFFFF;
	text-align: center;
	text-transform: uppercase; 
	padding-top: 20%;
	padding-bottom: 5%;

}

.about {
		text-align: center;
		margin-top: 10%;
		margin-bottom: 5%;
}

.contact { 
	text-align: center;
	background-color: #E8A263;
	color:#000000;
	padding-top: 10%;
	padding-bottom: 5%;
	
}

.lost {
	text-align: center;
	margin-top: 10%;
	margin-bottom: 5%;
}
	


.logo {
	width: 50%;
	min-width: 30%;
	align-content: center;

	
}

.portrait {
	width: 50%;
}

/*beggining of portfolio pieces */

.zoe-grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	width: 100%;
	list-style: none;
	text-align: center;
} 

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	width: 48%;
	background: #175A70;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	
	
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
	
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: 0.15em;
	font-weight: 300;
}


.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 60%;
} 

figure.effect-zoe figcaption {
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 3.75em;
	background: #fff;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-zoe h2 {
	text-align: center;
}


figure.effect-zoe p.description {
	position: absolute;
	bottom: 4em;
	color: #000000;
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	-webkit-backface-visibility: visible; 
	background-color: #FBFAFA;
	background-size: cover;
}


figure.effect-zoe h2 {
	display: inline-block;
}

figure.effect-zoe:hover p.description {
	opacity: 1;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-zoe:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
	
}


.portfolio {
	background-color: #E8A263;
	padding-left: 10%;
	padding-right: 5%;
	
}



/*end of portfolio pieces */

@media only screen and (min-width: 25em) {

	.nav li { 
		display: inline-block;
		
	}
	
	.portfolio {
	padding-left: 20%;
	padding-right: 20%;
	
}

	.small-port {
	position: relative;
	display: block;
	min-width: 30%;


}

}

@media only screen and (max-width: 30em) {

	.intro {
	height: 20em;
}

	.effect-zoe {
		display: none;
	} 
	
	.small-port {
	position: relative;
	display: block;
	min-width: 30%;
}	


}

@media only screen and (min-width: 30.01em) {
	
	.masthead {
		text-align: left;
	
}

	.portfolio {
	background-color: #E8A263;
	padding-left: 15%;
	padding-right: 15%;
	
}


	.footer {
		text-align: left;
	
}

	.nav-footer {
		text-align: right;

}

	.small-port {
		display: none;
	} 



}

@media only screen and (max-width: 38em) {
	
.giga {
	width: 100%;
}
}

@media only screen and (min-width: 60em) {


/*grid small, medium large screens */


	.grid {
	overflow: hidden;
}

	.portfolio-p {
		width: 100%;
		
	}

	.portfolio{
	background-color: #E8A263;
	padding-left: 20%;

}


	.footer {
	float: bottom;
	text-align: center;
	
}

	.nav-footer {
		text-align: center;

}


}

@media only screen and (max-width: 60em) {
	
	

}